.body {
    column-count: 3;
    column-gap: 24px;
    margin: auto;

    :global {
        .ant-card-cover img {
            height: auto;
            width: 100%;
            display: block;
            transition: all 0.5s ease-in-out 0s;
        }

        .ant-card-cover img:hover {
            transform: scale(1.05);
        }
    }
}
.card {
    width: 100%;
    margin-bottom: 24px;
    display: inline-block;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .body {
        display: flex;
        flex-direction: column;

        :global {
            .ant-card-bordered {
                width: 18rem;
                margin: auto;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
    }
}