.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    :global {
        .ant-layout-header {
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.avator {
    background-image: url(../../../static/img/avator.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 5px;
}