.player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 70px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    display: flex;
    justify-content: space-evenly;
}

.audio {
    width: 45rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.currentSong {
    color: #808080;
    line-height: 5;
    max-width: 15rem;
    position: inherit;
    left: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playAll {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.songName {
    color: #000;
    margin-right: 8px;
    font-size: 16px;
}

.provider {
    color: #808080;
    line-height: 2;
    position: inherit;
    right: 5rem;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .hide {
        display: none;
    }

    .audio {
        width: 18rem;
        margin-top: 0.5rem;
        border-radius: 5px;
        background: #fff;
    }
}
